
services:
  hytale-server:
    build: .
    container_name: hytale
    ports:
      - "5520:5520/udp"
    volumes:
      - ./data:/hytale/data
    environment:
      HYTALE_PORT: "5520"
      USE_AOT_CACHE: "true"
      ENABLE_AUTO_UPDATE: "true"
      ACCEPT_EARLY_PLUGINS: "false"
      ALLOW_OP: "false"
      ASSETS_PATH: "/hytale/assets"
      AUTH_MODE: "authenticated"
      BIND_ADDR: "0.0.0.0"
      BACKUP_ENABLED: "false"
      BACKUP_DIR: "/hytale/backups"
      BACKUP_FREQUENCY: "30"
      DISABLE_SENTRY: "false"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5520"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s